html {
  background-color: #e6e9ef;
  color: #4c4f69;
  font-family: system-ui, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
  font-size: 4rem;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #181825;
    color: #cdd6f4;
  }
}
